@font-face {
    font-family: FunnelSans;
    src: url(./fonts/FunnelSans-VariableFont_wght.ttf);
    font-weight: 200 300;
}
nav{
    display: flex;
    justify-content: center;
    background-color: linear-gradient();
    padding: .5rem;
}
nav a{
    margin: 0 1 rem;
    color: white;
    font-weight: bold;
    padding: .05rem 1rem;
    border-radius: 5px;
}
nav a:hover{
    font-family: FunnelSans;
    background-color: blue;
}
header{
    display: inline;
    text-align: center;

}
html{
    font-family: FunnelSans;
    height: auto;
    background: linear-gradient(to bottom right, grey, silver);
    min-height: 100vh;
}
body{
    margin: 0;
    padding: 0;
}